.tree-cell{
    -fx-font-size: 13pt;
    -fx-background-color: #E6E6E6;
    -fx-font-family: Arial, sans-serif;
}

.tree-cell:filled:selected {
    -fx-font-size: 13pt;
    -fx-background-color: #58D3F7;
    -fx-font-family: Arial, sans-serif;
}

#heading {
    -fx-text-alignment: right;
    -fx-font-size: 25pt;
    -fx-background-color: #E6E6E6;
    -fx-text-fill: #04B404;
    -fx-max-width: Infinity;
}

#fileViewerPane{

    -fx-image-alignment: center;

}

#preview {
    -fx-font-size: 25pt;
    -fx-background-color: #E6E6E6;
    -fx-text-alignment: center;


}
#noprev {
    -fx-font-size: 25pt;
    -fx-background-color: #E6E6E6;
    -fx-text-alignment: center;

}
#fileViewerPane{
    -fx-background-color: #E6E6E6;


}

#text .content{

    -fx-background-color: #E6E6E6;
}

#text{
    -fx-font-size: 13pt;
}
